.articles {
    min-height: 160px;
}

.articles h2.category {
    margin-bottom: 0;
    --x-height-multiplier: 0.342 !important;
    --baseline-multiplier: 0.22 !important;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    letter-spacing: -.02em !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 15px !important;
    line-height: 20px !important;
    -webkit-transform: translateY(1.8px);
    transform: translateY(1.8px);
    text-transform: uppercase;
    color: rgba(0, 0, 0, .54) !important;
    fill: rgba(0, 0, 0, .54) !important;
}

.articles h1.title {
    margin-top: 4px;
    overflow: hidden !important;
    max-height: 84px !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    font-weight: 600 !important;
    --x-height-multiplier: 0.342 !important;
    --baseline-multiplier: 0.22 !important;
    line-height: 28px !important;
    -webkit-transform: translateY(-.72px);
    transform: translateY(-.72px);
}

.articles h1.title a {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    font-style: normal !important;
    font-size: 26px !important;
    letter-spacing: -1.12px !important;
    color: rgba(0, 0, 0, .84) !important;
    fill: rgba(0, 0, 0, .84) !important;
}

.articles h3.subtitle {
    overflow: hidden !important;
    max-height: 40px !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    --x-height-multiplier: 0.342 !important;
    --baseline-multiplier: 0.22 !important;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    letter-spacing: -.8px !important;
    font-size: 16px !important;
    line-height: 20px !important;
    -webkit-transform: translateY(1.52px);
    transform: translateY(1.52px);
    color: rgba(0, 0, 0, .54) !important;
    fill: rgba(0, 0, 0, .54) !important;
}

.articles ul {
    padding-left: 0;
}

.articles li {
    list-style-type: none;
    display: inline;
    margin-right: 15px;
}

.articles li:last-child {
    margin-right: 0;
}

.articles div.content {
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 19px;
    letter-spacing: -0.004em;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.84);
    font-weight: 400;
}

.articles li.author i, .articles li.date i {
    font-size: 12px;
}

div.form-like {
    margin-top: -40px;
}